<h1>Create a new word!!</h1>

<form action="/words" method="post">
  <div class="form-group">
    <label for="term_word">Pick your word!!!</label>
    <input id="n" name="term_word" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Create!</button>
</form>