<h1>🕺The Word Game💃</h1>

<h3>In this game you will add words to your list and see how many definitions you can gather for each word!</h3>
<h5>Your current words are:</h5>

<% if @your_choice_words.any? %>
  <ul>
    <% @your_choice_words.each do |word| %>
      <li><a href="/words/<%= word.id %>"><%= word.your_choice_word %></a></li>
    <% end %>
  </ul>
<% else %>
  <p>Sorry, there are no words on your list. Please add words to begin learning!</p>
<% end %>
<p>Once you add a word you can click on it to add it's definition!</p>

<form action="/words">
<a href="/words/new">Add a new word!</a>
<br/>
<br/>
<label for="sort">Click sort button to list words alphabetically!</label>
<br/>
<button name="sort" type="submit" class="btn">Sort words!!!</button>
</form>

<form action="/words">
  <div class="form-group">
    <label for="search">Search a word!</label>
    <input id="search" name="search" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>
